.card-table {
  padding-bottom: 30px;

  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  --radius: 10px;

  width: 16vw;
  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  border: 2px solid currentColor;
  border-radius: var(--radius);
  background-color: #242424dc;

  transition: all 0.2s;
}

.card:hover,
.card:focus {
  transform: scale(1.06);
}

.character-pic {
  width: 100%;
  border-radius: var(--radius);
  box-shadow: 3px 3px 6px #042525;
}

.character-name {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
