.card-table {
  padding-bottom: 30px;

  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  --radius: 10px;

  padding: 8px;

  border: 2px solid currentColor;
  border-radius: var(--radius);
  background-color: darkcyan;

  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.06);
}

.character-pic {
  height: 25svh;
  border-radius: var(--radius);
  box-shadow: 3px 3px 6px #042525;
}

.character-name {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
