.card-table {
  padding-bottom: 30px;

  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  --radius: 10px;

  padding-bottom: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  border: 2px solid currentColor;
  border-radius: var(--radius);
  background-color: var(--card-bg);
  box-shadow: 3px 5px 6px #000000cc;

  transition: all 0.2s;
}

.card:hover,
.card:focus {
  transform: scale(1.06);
}

.character-pic {
  width: 100%;
  height: auto;
  border-radius: var(--radius) var(--radius) 0 0;
  border-bottom: 2px solid #cfcfcf;
}

.character-name {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 900px) {
  .card {
    width: 16vw;
  }
}
