.current-round {
  padding: 30px;
}

.current-score {
  margin: auto;
  width: max-content;
  padding: 10px 12px;

  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  background-color: var(--card-bg);
  box-shadow: 0 0 4px 1px #00000080;
}
