.current-round {
  padding: 30px;
}

.score {
  margin: auto;
  width: max-content;
  padding: 10px 12px;

  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  background-color: var(--card-bg);
}
