header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  text-shadow: 3px 5px 5px black;
}

.game-info {
  font-size: 20px;
  background-color: var(--card-bg);
  border: 1px solid #ffffff80;
  border-radius: 10px;
}

.current-level,
.high-score {
  margin: 10px;
  display: flex;
  gap: 15px;
}

.static-text {
  width: 120px;
  text-align: right;
}

.variable-text {
  flex: 1;
  text-align: center;
}

footer {
  padding: 20px;

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  font-size: 24px;
}

.fa.fa-github {
  color: currentColor;
  font-size: 130%;
  transition: transform 0.4s ease-in-out;

  &:hover {
    transform: rotate(-360deg) scale(1.5);
  }
}
