.modal {
  display: grid;
  place-content: center;
}

.modal .content {
  --spacer: 30px;

  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  padding: var(--spacer);
  border: 2px solid white;
  border-radius: 10px;
  background-color: #242424;
}

.modal h1 {
  font-size: 2.3rem;
}

.modal button {
  flex: 1;
  padding: 6px;
  font-size: 1.3rem;
}

/* --------------------------- */
/* ---------- Start ---------- */
/* --------------------------- */

.start p {
  margin: auto;
  width: 530px;
  font-size: 1.5rem;
}

.start .ital {
  font-style: italic;
}

.start .buttons {
  display: flex;
  gap: 12px;
}

/* --------------------------- */
/* ----------- End ----------- */
/* --------------------------- */

.end {
  position: absolute;
  height: 100%;
  width: 100%;

  background-color: rgba(212, 212, 212, 0.25);
  backdrop-filter: blur(2px);
}

.end .content {
  box-shadow: 4px 4px 10px #0000006e;
}

.end p {
  text-align: center;
  font-size: 1.3rem;
}
