.modal {
  display: grid;
  place-content: center;
}

.modal .content {
  --spacer: 30px;

  display: flex;
  flex-direction: column;
  gap: var(--spacer);

  margin: 20px;
  padding: var(--spacer);
  border: 2px solid white;
  border-radius: 10px;
  background-color: var(--card-bg);
  box-shadow: 0 0 16px rgb(0, 0, 0);
}

.modal h1 {
  font-size: 2rem;
  text-align: center;
}

.modal button {
  flex: 1;
  padding: 8px;
  font-size: 1.5rem;
  background-color: rgb(43, 53, 43);
  border: 2px solid rgba(189, 239, 189, 0.694);
  border-radius: 8px;
  color: rgb(226, 247, 226);
}

/* --------------------------- */
/* ---------- Start ---------- */
/* --------------------------- */

.start p {
  margin: auto;
  max-width: 530px;
  font-size: 1.2rem;
}

.start .ital {
  font-style: italic;
}

.start .buttons {
  display: flex;
  flex-direction: column;
  column-gap: 12px;
  row-gap: 16px;
}

/* --------------------------- */
/* ----------- End ----------- */
/* --------------------------- */

.end {
  position: fixed;
  height: 100%;
  width: 100%;

  background-color: rgba(212, 212, 212, 0.25);
  backdrop-filter: blur(2px);
}

.end .content {
  background-color: #1a1a1a;
  box-shadow: 4px 4px 10px #0000006e;
}

.end p {
  text-align: center;
  font-size: 1.3rem;
}

@media (min-width: 500px) {
  .modal h1 {
    font-size: 2.3rem;
  }

  .start p {
    font-size: 1.5rem;
  }
  .start .buttons {
    flex-direction: row;
  }
}
